# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment variables
.env
.env.*

# Secrets
*.pem
*.key
credentials
credentials.*
secrets
secrets.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/